* {
  margin: 0;
}

body {
  --twitter-color: #1da1f2;
  --button-hover: #eaf4fd;
  --twitter-background: #dce4eb;
}

.App {
  display: flex;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}
